body {
  margin: 0;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,229,255,1) 51%, rgba(239,239,255,1) 78%, rgba(255,255,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#radarcanvas {
  border: '1px' solid;
  color: #c2c2c2;
  background-color: #dfdfdf;
  border: solid;
  border-radius: 1px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

table tr {
  background-color: #c2c2c2;
  color: #000000;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: thin solid #000000;
}

tbody tr:nth-of-type(even) {
  background-color: #dfdfdf;
}
